header{
	background: url("http://www.publicdomainpictures.net/pictures/120000/velka/watercolor-bokeh-pastel-background.jpg");;
	height: 75px;
	width: 100%;
	position: fixed;
	border-bottom: 5px solid #fff;
}
#grid {
    max-width:900px;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#000;
}
#grid li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
/* The wrapper for each item */
.grid-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
        
/* If have the image layer */
.grid-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#grid li:hover .grid-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.grid-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#grid li:hover .grid-overlay {
    opacity:0.8;
}

/* If have captions */
.grid-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#grid li:hover .grid-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #grid li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #grid li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #grid li {
        width:50%;
    }
}

#fixed_menu{
	font-family: 'Cormorant Upright', serif;
	display: inline-block;
    list-style-type: none;
    margin-left: 20;
    padding: 0;
}

/*li{
	padding: 20px;
    display: block;
    width: 60px;
}*/

a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 2em;
}

a:hover{
	text-decoration: underline;
}

nav{
	float: left;
	padding: 20px;
}

h1{
	font-size: 3.6em;
	text-align: left;
	font-family: 'Great Vibes', cursive;
	color: #fca9d9;
	margin-top: 4px;
}

p {
	font-size: 20px;
	color: #24ccd8;
	font-family: Georgia;
	line-height: 1.61em;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}

body{
	background-color: rgba(183, 200, 239, 0.5);
	/* 0.5 means changing the color or reducing it by 50%*/
}

h2{
	margin-top: 100px;
	text-align: center;
	font-family: 'Cormorant Upright', serif;
	font-size: 3.1em;
	color: #42f49b;
}

h3{
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 2.1em;
}

h4{
	margin-top: 200px;
	text-align: right;
	font-family: 'Marck Script', cursive;
	font-size: 1.5em;

}





