header{
	background: url("http://www.publicdomainpictures.net/pictures/120000/velka/watercolor-bokeh-pastel-background.jpg");;
	height: 75px;
	width: 100%;
	position: fixed;
	border-bottom: 5px solid #fff;
}

ul{
	font-family: 'Cormorant Upright', serif;
	display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
	padding: 20px;
    display: block;
    width: 60px;
}

a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 2em;
}

a:hover{
	text-decoration: underline;
}

nav{
	float: left;
	padding: 20px;
}

h1{
	font-size: 3.6em;
	text-align: left;
	font-family: 'Great Vibes', cursive;
	color: #fca9d9;
	margin-top: 4px;
}

p {
	font-size: 20px;
	color: #24ccd8;
	font-family: Georgia;
	line-height: 1.61em;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}

body{
	background-color: rgba(183, 200, 239, 0.5);
	/* 0.5 means changing the color or reducing it by 50%*/
}
img{
	float: right;
}

h2{
	margin-top: 100px;
	text-align: center;
	font-family: 'Cormorant Upright', serif;
	font-size: 3.1em;
	color: #42f49b;
}

h3{
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 2.1em;
}

h4{
	margin-top: 200px;
	text-align: right;
	font-family: 'Marck Script', cursive;
	font-size: 1.5em;

}




